@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.priceSection {
  background: var(
    --home,
    linear-gradient(133deg, rgba(246, 248, 249, 0.2) 0%, rgba(73, 171, 238, 0.2) 100%)
  );
}
.heading {
  background: var(--main-txt, linear-gradient(60deg, #373fff 0%, #3acaf8 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
